<p>Service password reset <br>
------------------------</p>

<p>Thank you for using Service. We received a password reset request
for this email address (<%= user.email %>) on
<%= config.host %>. To reset your password, click the link below:</p>

<p><%= config.host %>/reset/<%= token %></p>

<p>If you did not request a password reset, then someone probably
mis-typed their email address. You can ignore this message, and we
apologize for the inconvenience.</p>

<p>If you have any problems resetting your password, you can get help
from us at <%= config.fromEmail %>.</p>

<p>Service Team</p>
